$white : #FFFFFF;
$purple : #86509C;
$orange : #EB7D4A;
$green : #17C1A4;
$lightgrey: #D3D3D3;
$grey : #A9A9A9;
$peach : #FEDD9A;
$blue : #3C5598;
$darkblue : #293A70;
$ablue : #4394C9;
$fblue : #344B8E;
$bblue : #30BAE8;
$xligthblue : #E7F1FA;
