@font-face{
  font-family: "TitilliumWeb-ExtraLightItalic";
  src: url("./scss/TitilliumWeb-ExtraLightItalic.ttf");
}

@font-face{
  font-family: "TitilliumWeb-Bold";
  src: url("./scss/TitilliumWeb-Black.ttf");
}

// @font-face{
//   font-family: "TitilliumWeb-BoldItalic";
//   src: url("./scss/TitilliumWeb-BoldItalic.ttf");
// }

@font-face{
  font-family: "TitilliumWeb-Italic";
  src: url("./scss/TitilliumWeb-Italic.ttf");
}
