@font-face{
  font-family: "TitilliumWeb-ExtraLightItalic";
  src: url("./fonts/TitilliumWeb-ExtraLightItalic.ttf");
}

@font-face{
  font-family: "TitilliumWeb-Bold";
  src: url("./fonts/TitilliumWeb-Black.ttf");
}

@font-face {
  font-family: "TitilliumWeb-BoldItalic";
  src: url("./fonts/TitilliumWeb-BoldItalic.ttf");
}

@font-face{
  font-family: "TitilliumWeb-Italic";
  src: url("./fonts/TitilliumWeb-Italic.ttf");
}
