@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

$white : #FFFFFF;
$purple : #86509C;
$orange : #EB7D4A;
$green : #17C1A4;
$lightgrey: #D3D3D3;
$grey : #A9A9A9;
$peach : #FEDD9A;
$blue : #3C5598;
$darkblue : #293A70;
$ablue : #4394C9;
$fblue : #344B8E;
$bblue : #30BAE8;

.container{
  width: 1140px!important;
  align-self: center;
}

header {
  background-color: $purple;
  color: $white;
  .jumbotron{
    background: none;
    // underline: none;
  }
  .nav-link{
    text-color: $white;
  }
  .nav-item{
    text-color: $white;
  }
  .nav-link:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 20%;
  }

  a.btn{
    background-color: $orange;
    border: $orange;
    &:hover{
      background: none;
      border: $orange;
    }
  }

  h2{
    font-weight: bold;
  }
}

#services{
  background-color: $green;
  h2{
    color: $white;
  }
  p{
    color: $white;
  }
  .card{
    background: none;
    border: none;
      img{
        height: 150px;
        width: 150px;
        align-self: center;
      }
      p{
        text-align: center;
        color: $white;
      }
      h5{
        text-align: center;
        color: $white;
      }
  }
}

#team{
  background-color: $lightgrey;
  align-content: center;
  display: flex;
  .container{
    .team_block{
      .team_icon{
          margin: auto;
          background-color: $grey;
          border-radius: 50%;
          height: 150px;
          width: 150px;
        }
      a{
        align: center;
      }
      .mini_team{
        display: inline-flex;
        .mini_team_icon{
          img{
            height: 30px;
            width: 30px;
            background-color: grey;
            border-radius: 50%;
          }
        }
      }
    }
  }
}


// #skills{
//   .skills_block_90{
//       .skills_block{
//         position: relative;
//         width: 150px;
//         height: 150px;
//         border: 10px solid $green;
//         border-radius: 50%;
//         margin: auto;
//         &:before{
//           // position: absolute;
//           // top: 100%;
//           // right: 0;
//           // width: calc(100% - 100px);
//         }
//       }
//   }
//   .skills_block_70{
//     .skills_block{
//       position: relative;
//       width: 150px;
//       height: 150px;
//       border: 10px solid $grey;
//       border-radius: 50%;
//       margin: auto;
//     }
//   }
//   .skills_block_75{
//     .skills_block{
//       position: relative;
//       width: 150px;
//       height: 150px;
//       border: 10px solid $purple;
//       border-radius: 50%;
//       margin: auto;
//     }
//   }
//   .skills_block_85{
//     .skills_block{
//       position: relative;
//       width: 150px;
//       height: 150px;
//       border: 10px solid $orange;
//       border-radius: 50%;
//       margin: auto;
//     }
//   }
// }

#skills{
  .skills_block {
    display: inline-block;
    margin: .5em;
    width: 8em;
    height: 8em;
    position: relative;
    border-radius: 50%;
      :after {
        border-radius: 50%;
        display: block;
        content: "";
        background: #fff;
        position: absolute;
        left: .5em;
        top: .5em;
        height: 7em;
        width: 7em;
      }
.skills_block_90 {
background-image: linear-gradient(-30deg, $purple 50%, transparent 50%),
                  linear-gradient(90deg, $purple 50%, $green 50%);
}
.skills_block_70 {
background-image: linear-gradient(90deg, $purple 50%, $green 50%);
}
.skills_block_75 {
background-image: linear-gradient(150deg, transparent 50%, $green 50%),
                  linear-gradient(90deg, $purple 50%, $green 50%);
}
.skills_block_85 {
background-image: linear-gradient(270deg, transparent 50%, $green 50%),
                  linear-gradient(180deg, $purple 50%, $green 50%);
}
}
}



#portfolio{
  background-color: $peach;
  text-align: center;
  .p_image{
    margin: auto;
  }
}

#getintouch{
  background-color: $blue;
  color: $white;
  input, textarea{
    background-color: $darkblue;
    border-color: $darkblue;
    // padding-left: 10em;
    // padding-right: 10em;
  }
}

footer{
  background-color: $fblue;
  p{
    color: $white;
    display: inline;
    &:hover{
      color: $ablue;
    }
  }
}
